/* Global */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

/* header */
.header {
    padding: 30px;
    text-align: center;
    background-color: #333;

}

.header h1 {
    font-size: 50px;
    color: whitesmoke;
}

.navBar {
    font-size: 17px;
    width: 100%;
    text-align: center;
}

.navBar ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navBar li {
    float: left;
}

.navBar li a {
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar .dropdown .dropbtn {
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar li a:hover {
    background-color: #111;
}

.navBar .dropdown {
    display: inline-block;
}

.navBar .dropdown:hover{
    background-color: #111;
}

.navBar .dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

.navBar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navBar .dropdown-content a:hover {
    background-color: limegreen;
}

.navBar .dropdown:hover .dropdown-content {
    display: block;
}

/* content */
.content {
    text-align: center;
    padding: 50px;
}

.content h1 h2 h3 h4 h5 h6 {
    text-align: center;
}

.content img {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.content video {
    margin: 0 auto;
    width: 80%;
    position: relative;
}

.People, .aimAndGoals, .outcomeToDate, .extendedViableFeatures, .toolsAndTechnologies, .skillsAndJobs, .scopeCreep, .description, .windFall, .motivation, .testing {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    border-collapse:separate;
    border-spacing: 5px 20px;
}

.People th, .aimAndGoals th, .outcomeToDate th, .extendedViableFeatures th, .toolsAndTechnologies th, .skillsAndJobs th, .scopeCreep th, .description th, .windFall th, .motivation th {
    float: left;
    text-align: left;
}

.testing th {
    text-align: center;
}

.testing td {
    text-align: center;
}


.testing tr td HR {
    width: 900px;
}

.People td, .aimAndGoals td, .outcomeToDate td, .extendedViableFeatures td, .toolsAndTechnologies td, .skillsAndJobs td, .scopeCreep td, .description td, .windFall td, .motivation td {
    float: left;
    text-align: left;
}

.People tr td img, .aimAndGoals tr td img, .extendedViableFeatures tr td img,  .skillsAndJobs tr td img, .scopeCreep tr td img, .description tr td img, .motivation tr td img {
    width: 50%;
}

.People tr td HR, .aimAndGoals tr td HR, .outcomeToDate tr td HR, .extendedViableFeatures tr td HR, .toolsAndTechnologies tr td HR, .skillsAndJobs tr td HR, .scopeCreep tr td HR, .description tr td HR, .windFall tr td HR, .motivation tr td HR {
    width: 900px;

}

.outcomeToDate tr td img, .toolsAndTechnologies tr td img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.content .projectBackground, .projectProgress, .challengeAndLearning, .futureDevelopment, .projectProcesses {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.projectBackground img, .projectProgress img, .futureDevelopment img{
    width: 30%;
}

.scope, .progress, .meeting, .gitHub, .trello {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    border-collapse: collapse;
}

.scope th, .scope td, .progress th, .progress td, .meeting th, .meeting td, .gitHub th, .gitHub td, .trello th, .trello td {
    border: 1px solid black;
    border-collapse: collapse;
}

.scope th, .progress th, .meeting th, .gitHub th, .trello th {
    padding: 5px;
    text-align: center;
}

.scope td, .progress td, .meeting td, .gitHub td, .trello td {
    padding: 5px;
    text-align: left;
}

.challengeAndLearning, .projectProcesses {
    width: 50%;
    margin: 0 auto;
}

.challengeAndLearning ul, .projectProcesses ul {
    text-align: left;
}

.challengeAndLearning ul li, .projectProcesses ul li{
    text-align: left;
    font-weight: bold;
}

/* footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #333;
    margin-top: 20px;

}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.footer li {
    color: whitesmoke;
}

.footer li a {
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

.footer li a:hover {
    background-color: limegreen;
}